<form style="margin-top: 30px" method="POST" action="/post/{{blog.id}}?_method=PUT">
    <div class="mb-3">
        <label for="titleBlog" class="form-label">Title Blog</label>
        <input type="text" class="form-control" id="titleBlog" name="title" value="{{blog.title}}">
    </div>
    <div class="mb-3">
        <label for="contentBlog" class="form-label">Content Blog</label>
        <textarea class="form-control" id="contentBlog" name="content" rows="3">{{blog.content}}</textarea>
    </div>
    <button type="submit" class="btn btn-warning float-end">Update</button>
</form>